<?xml version="1.0" encoding="utf-8"?>
<!--
WebDeploy publish profile for foodpower.runasp.net (MonsterASP).
The password is NOT stored here (this file is committed to git).
Pass it on the command line - see README "Deploy" section.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://foodpower.runasp.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>00000000-0000-0000-0000-000000000000</ProjectGuid>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>https://site79197.siteasp.net:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>site79197</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>false</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>site79197</UserName>
    <AllowUntrustedCertificate>true</AllowUntrustedCertificate>
    <TargetFramework>net9.0</TargetFramework>
  </PropertyGroup>
</Project>
